# The WhatsApp number of the admin (including country code, e.g., 919XXXXXXXXX)
WHATSAPP_NUMBER=918931095984

# The port where the Express API will run
PORT=60

# The n8n webhook URL to call when a blog is approved
# If n8n is running in another Docker container on the same machine, use:
N8N_WEBHOOK_URL=http://host.docker.internal:5678/webhook/publish-blog
